[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "4.12.0"
pandas = "~=1.5"
pydantic = "==1.10.7"
langchain = {extras = ["llm"], version = "*"}
selenium = "*"
unstructured = "*"
openai = "*"
chromadb = "*"
tiktoken = "*"
tabulate = "*"
sqlalchemy = "~=1.4"
alembic = "~=1.7"
fastapi = "*"
starlette = "*"
psycopg2_binary = "*"

[dev-packages]
jupyterlab = "==3.6.3"

[requires]
python_version = "3.10"
